<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="stylesheet" href="/css/main.css">
<% if (scripts && scripts.length > 0) { %>
    <% scripts.forEach((script) => { %>
        <%- console.log(script) %>
        <%- script %>
    <% }); %>
<% } %>
<% if (styles && styles.length > 0) { %>
    <% styles.forEach((style) => { %>
        <%- style %>
    <% }); %>
<% } %>